<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="DXF.WriteToTagStepConverter.Db" value="master"/>
      <setting name="DXF.RssEndpointConverter.Id" value="{4F690818-1CB0-47CB-8DAB-09966A997A53}"/><!--RSS Feed Endpoint template id-->
      <setting name="DXF.RssFeedStepConverter.Id" value="{F2775126-6431-47B1-9576-8062A514BAC5}"/><!--RSS Feed Pipeline Step template id-->
      <setting name="DXF.WriteToTagStepConverter.Id" value="{2571C60A-5A4F-4EF6-947D-5BEDAFAE1EEE}"/><!--Write to tag Pipeline Step template id-->
      <setting name="DXF.IndexEndpointConverter.Id" value="{028CE91A-1A85-460F-835A-35092314AB71}"/><!--Index Endpoint template id-->
      <setting name="DXF.IndexStepConverter.Id" value="{A245C4BC-CB36-42FB-80A4-E7F8FC8AF3A3}"/><!--Write to index Pipeline Step template id-->
      <setting name="DXF.WriteToTagProcessor.SplitChar" value="/"/>
    </settings>
    <contentSearch>
      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes hint="list:AddIndex">
          <!-- Sample Index, basically any class that inherits from BaseIndexable that has matching field names would index given this config-->
          <!-- Solr Index
          <index id="rss_feed" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
            <param desc="name">$(id)</param>
            <param desc="core">$(id)</param>
            <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
            <configuration type="Sitecore.ContentSearch.SolrProvider.SolrIndexConfiguration, Sitecore.ContentSearch.SolrProvider">
              <indexAllFields>true</indexAllFields>
              <fieldMap type="Sitecore.ContentSearch.SolrProvider.SolrFieldMap, Sitecore.ContentSearch.SolrProvider">
                <typeMatches hint="raw:AddTypeMatch">
                  <typeMatch typeName="string"  type="System.String" fieldNameFormat="{0}_t"  settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
                </typeMatches>
                <fieldNames hint="raw:AddFieldByFieldName">
                  <field fieldName="_uniqueid" returnType="string" />
                  <field fieldName="articleid" returnType="string" />
                  <field fieldName="subject" returnType="string" />
                  <field fieldName="summary" returnType="string" />
                  <field fieldName="authors" returnType="string" />
                  <field fieldName="categories" returnType="string" />
                </fieldNames>
                <fieldTypes hint="raw:AddFieldByFieldTypeName"></fieldTypes>
              </fieldMap>
              <fieldReaders                    ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/fieldReaders"/>
              <indexFieldStorageValueFormatter ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/indexFieldStorageValueFormatter"/>
              <indexDocumentPropertyMapper     ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/indexDocumentPropertyMapper"/>
              <documentBuilderType>Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilder, Sitecore.ContentSearch.SolrProvider</documentBuilderType>
              <defaultSearchSecurityOption ref="contentSearch/indexConfigurations/defaultSearchSecurityOption" />
            </configuration>
          </index>-->

          <index id="rss_feed" type="Sitecore.ContentSearch.LuceneProvider.LuceneIndex, Sitecore.ContentSearch.LuceneProvider">
            <param desc="name">$(id)</param>
            <param desc="folder">$(id)</param>
            <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
            <configuration type="Sitecore.ContentSearch.LuceneProvider.LuceneIndexConfiguration, Sitecore.ContentSearch.LuceneProvider">
              <analyzer ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/analyzer" />
              <fieldMap type="Sitecore.ContentSearch.FieldMap, Sitecore.ContentSearch">
                <fieldNames hint="raw:AddFieldByFieldName">
                  <field fieldName="_uniqueid"   storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                    <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
                  </field>
                  <field fieldName="articleid"   storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                    <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
                  </field>
                  <field fieldName="subject"     storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                    <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
                  </field>
                  <field fieldName="summary"     storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                    <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
                  </field>
                  <field fieldName="authors"     storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                    <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
                  </field>
                  <field fieldName="categories"  storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                    <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
                  </field>
                </fieldNames>
              </fieldMap>
              <fieldReaders ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/fieldReaders"/>
              <indexFieldStorageValueFormatter ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/indexFieldStorageValueFormatter"/>
              <indexDocumentPropertyMapper ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/indexDocumentPropertyMapper"/>
              <documentBuilderType>Sitecore.ContentSearch.LuceneProvider.LuceneDocumentBuilder, Sitecore.ContentSearch.LuceneProvider</documentBuilderType>
              <defaultSearchSecurityOption ref="contentSearch/indexConfigurations/defaultSearchSecurityOption" />
            </configuration>
            <!--<locations hint="list:AddCrawler">
              <crawler type="NoCrawler.Indexing.NoCrawler, NoCrawler">
              </crawler>
            </locations>-->
          </index>
        </indexes>
      </configuration>
    </contentSearch>
  </sitecore>
</configuration>
